@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --primary-color: rgb(104, 155, 175);
    --primary-color-darker: rgb(23, 49, 59);
}

*{
box-sizing: border-box;
outline: 0; 
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width:  640px;
    margin: 50px auto;
    background: wheat;
    padding: 20Px;
    border-radius: 10px ;    
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--pramary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #ffff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--primary-color-darker);
}

.paragrafo-resultado, .bad {
    background: rgb(99, 216, 99);
    padding: 10px 20px;
}

.bad {
    background:  rgb(221, 78, 78);
}